*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: blue;
}